---
---

@import "{{ site.theme }}";

h1 {
    text-align: center;
}

 /* Create three equal columns that float next to each other */
 .column {
    float: left;
    width: 33.33%;
    justify-content: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  } 

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

  gallery {
    padding: 2mm;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
